<md-card class="example-card">
  <md-card-header>
    <md-card-title>{{multimediaContent.name}}</md-card-title>
    <md-card-subtitle>{{multimediaContent.description}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="multimediaContent.thumbnail">
  <md-card-content>
     <span>Description</span>
       <p>{{multimediaContent.description}}</p>

  </md-card-content>
  <md-card-actions>
    <button md-button>Star</button>
    <button md-button>Detail</button>
  </md-card-actions>
</md-card>

