






<div fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="5px" >
      <h3>Repositories Registration</h3>
          <table>
           <!-- <thead>
               <tr>
                <td class="name">Name</td>
                <td>Modify</td>
                <td>Delete</td>
               </tr>  
            </thead> -->
            <tr *ngFor="let ur of userRepositories">
              <td><md-slide-toggle [checked]="ur.enabled" (change)="toggle(ur)" >{{ur.repository}}</md-slide-toggle></td>
              <td><button md-icon-button (click)="update(ur)"><md-icon>create</md-icon></button></td>
              <td><button md-icon-button (click)="delete(ur.id)"><md-icon>delete</md-icon></button></td>
            </tr>  
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><button md-icon-button (click)="create()"><md-icon>add circle</md-icon></button></td>
            </tr>  
          </table>
</div>
