<md-progress-bar  mode="indeterminate"  *ngIf="loading"></md-progress-bar>
 
<div class="container">
  <div  fxFlex>

    <div fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="5px" >
      
        <div *ngIf="nResults > 0"><button md-icon-button (click)="deleteAll()"><md-icon>delete</md-icon>Delete All History</button></div>
        <h3 *ngIf="nResults == 0">No history available.</h3>
        <div *ngFor="let sr of searchResult">
          <md-card (click)="goToSearchForm(sr)">
              <md-input-container  fxFlex> 
              <span mdPrefix>Keywords:&nbsp;</span>
              <input mdInput value="{{sr.keywords}}" id="keywords"  name="keywords" disabled>
              <span mdSuffix class="date" >{{isoDateToHtmlDate(sr.date)}}</span>
              </md-input-container>
         </md-card>
        </div>
      
    </div>

<!--

                <md-input-container  fxFlex> 
                <span mdPrefix>Keywords:&nbsp;</span>
                <input mdInput placeholder="Best Football Player" value="1" id="history" name="history" #spy>
                <span mdSuffix><button md-icon-button><md-icon>navigate_next</md-icon></button></span>
                </md-input-container>
-->
  </div>
</div>
