<div align="center">
 <div *ngIf="nResults > 0"><button md-icon-button (click)="deleteAllByUser()"><md-icon>delete</md-icon>Delete All Bookmarks</button></div>
 <h3 *ngIf="nResults == 0">No bookmarks available.</h3>
</div>
<div class="container">

  <div class="container-sidebar">
<md-card class="sidebar"  [style.left.px]="sidebar(-150)">
       <div class="filter_button" [style.left.px]="sidebar(150)">
         <button md-icon-button class="subfilter_button" (click)="showSidebar = !showSidebar;"><md-icon>tune</md-icon></button>
       </div>
       <div class="close_button">
         <button md-icon-button	 (click)="showSidebar = !showSidebar;"><md-icon>close</md-icon></button>
       </div>
<md-list> 
  <md-list-item><md-checkbox  [(ngModel)]="videofilter" [checked]="videofilter">Video</md-checkbox>({{VideoResult}})</md-list-item>
  <md-list-item><md-checkbox  [(ngModel)]="audiofilter" [checked]="audiofilter">Audio</md-checkbox>({{AudioResult}})</md-list-item>
  <md-list-item><md-checkbox  [(ngModel)]="textfilter"  [checked]="textfilter">Text</md-checkbox>({{TextResult}})</md-list-item>
  <md-list-item><md-checkbox  [(ngModel)]="imagefilter" [checked]="imagefilter">Image</md-checkbox>({{ImageResult}})</md-list-item>
</md-list>   
</md-card>
  </div>

<md-progress-bar  mode="indeterminate"  *ngIf="submitted"></md-progress-bar>

  <div  fxFlex>
<div class="container-card"  fxflex>
     <div class="sub_container-card" *ngFor="let item of bookmarks">
       <div *ngIf="filter(item.multimediaContent.type)">
        <md-card class="card">
           <div *ngIf="item.multimediaContent.thumbnail; else defaultimg">
              <img md-card-image class="image-card" src="{{item.multimediaContent.thumbnail}}" >
          </div>
          <ng-template #defaultimg>
                <img md-card-image class="image-card" src="../assets/images/logo_producer_511x103.jpg" >
          </ng-template>
          <md-card-content class="content-card">
             <div fxLayout="row">
                <div fxLayout="column" >
                     <div [ngSwitch]="item.multimediaContent.type">
                        <div *ngSwitchCase="'video'"><button md-icon-button><md-icon>videocam</md-icon></button></div>
                        <div *ngSwitchCase="'image'"><button md-icon-button><md-icon>photo</md-icon></button></div>
                        <div *ngSwitchCase="'audio'"><button md-icon-button><md-icon>audiotrack</md-icon></button></div>
                        <div *ngSwitchCase="'text'"><button md-icon-button><md-icon>textsms</md-icon></button></div>
                     </div>
                        <button md-icon-button mdTooltip="Delete Bookmark" (click)="removeBookmark(item.id)"><md-icon>star</md-icon></button>
                        <app-dialog-detail [multimediaContent]="item.multimediaContent"></app-dialog-detail>
                </div>
                <div class="detail-card" fxLayout="column">
                  <p><b>Title:</b>{{item.multimediaContent.name}}</p>
                  <p><b>Description:</b>{{item.multimediaContent.description}}</p>
                  <p><b>Source:</b>{{item.multimediaContent.source.name}}</p>
                  <p><b>Date:</b>{{getDate(item.multimediaContent.date)}}</p>
                </div>
            </div>
          </md-card-content>
        </md-card>
       </div>
      </div>
    </div>
  </div>
</div>
