
<!--
<nav *ngIf="isLoggedIn()" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">OCD</a>
		</div>
		<div class="nav navbar-nav">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Library</a></li>
			<li class="active">Data</li>
		</ol>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span><span class="spacer"></span>{{getLoggedUser()}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li><a href="#">Settings</a></li>
						<li role="separator" class="divider"></li>
						<li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<app-sidebar></app-sidebar>
-->

<md-toolbar *ngIf="isLoggedIn()" color="primary">
                 <span>
				
					<img class="logo" src="../assets/images/logo_producer_511x103.jpg">
				</span>			
	            <span class="menu">
				<button md-button [routerLink]="['/']"> Home </button>
				<button md-button [routerLink]="['/search-history']"> Search History </button>
				<button md-button [routerLink]="['/bookmarks']"> Bookmarks </button>
				<button md-button [routerLink]="['/setting']"> Settings </button>
		
			    </span>
					<span class="example-spacer"></span>
		     	<span>
                <button md-icon-button [mdMenuTriggerFor]="appMenu" >
					<md-icon>account_circle</md-icon>
				</button>
				<md-menu #appMenu="mdMenu" >
				<button md-menu-item  [routerLink]="['/profile']"> Profile </button>
				<button md-menu-item  [routerLink]="['/setting-rep']"> Setting </button>
				<button md-menu-item [routerLink]="['/login']"> Logout </button>
				</md-menu>
			</span>
 <!--<md-toolbar-row>
    <span><breadcrumb class="breadcrumbs"></breadcrumb></span>
 </md-toolbar-row>-->
</md-toolbar>





