.account{
    text-align: right;
}


.flex-spacer{

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo{
    width: 128px;
}

md-toolbar,md-toolbar-row{
        display: contents;
}

.menu{
  margin-left: 24%;
}
.menu button{
      font-size: x-large;
      font-size: 20px;
      font-weight: 600;
}

.breadcrumbs{
   display: flex;
    box-sizing: border-box;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  } 