

<div *ngFor="let breadcrumb of breadcrumbs; let i = index; let l = last">
            <button md-button [routerLink]="[breadcrumb.url]"> {{ breadcrumb.label }}<i [hidden]="l" class="material-icons">keyboard_arrow_right</i></button>       
</div>