  <!--  <div *ngIf="isLoggedIn()" class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Search Results <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Favourites</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="">Recent Searches</a></li>
                </ul>
            </div>
        </div>
    </div>-->


