.card {
    /*display:inline-block;
    display: inline-table;*/
    display:flow-root;
    width: 175px;
    height: 300px;
    margin: 3px;
   /* vertical-align: top;
    cursor: pointer;
    overflow: visible; */
}
.detail-card {
    font-size: 9px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 200px;
}
.image-card {
    height: 150px;
}

.title-card {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 40px;   
}



.description {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 60px;
        margin-top: 5px;
}
.item-card {
        margin-top: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 20px;
}


.sidebar{
  position: fixed;
  z-index: 1;
  width: 120px; /* sum padding */
  padding:15px;
  /*left: -130px;    hide*/
}

.subfilter_button{
background-color: #fd9a7a;

}

.filter_button {
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /*left: 130px;  move button outside*/
    
}

.close_button {
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /*left: 130px;  move button outside*/
}



.container-card {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: flex-start;
}

.sub_container-card {
  height: 100%
}


.typefield {
    margin-top: 16px;
}



@media (min-width: 0px) and (max-width: 800px) {
 

    .container-sidebar {
      display:none;
    }
}


@media (min-width: 800px) and (max-width: 3000px) {
 

    .container-sidebar {
      display:flex;
    }
}

.board {
    align-content: flex-end;
}


.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
}