<div class="container">
  <div class="container-sidebar">
<md-card class="sidebar"  [style.left.px]="sidebar(-150)">
       <div class="filter_button" [style.left.px]="sidebar(150)">
         <button md-icon-button class="subfilter_button" (click)="showSidebar = !showSidebar;"><md-icon>tune</md-icon></button>
       </div>
       <div class="close_button">
         <button md-icon-button	 (click)="showSidebar = !showSidebar;"><md-icon>close</md-icon></button>
       </div>
<md-list> 
  <md-list-item><md-checkbox  [(ngModel)]="videofilter" [checked]="videofilter">Video</md-checkbox>({{VideoResult}})</md-list-item>
  <md-list-item><md-checkbox  [(ngModel)]="audiofilter" [checked]="audiofilter">Audio</md-checkbox>({{AudioResult}})</md-list-item>
  <md-list-item><md-checkbox  [(ngModel)]="textfilter"  [checked]="textfilter">Text</md-checkbox>({{TextResult}})</md-list-item>
  <md-list-item><md-checkbox  [(ngModel)]="imagefilter" [checked]="imagefilter">Image</md-checkbox>({{ImageResult}})</md-list-item>
</md-list>   
</md-card>
  </div>
  <div  fxFlex>
  <md-card>
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="5px" >
      <md-card>
        <div>
       <md-input-container  fxFlex> 
        <input mdInput placeholder="Are you searching for" value=""  minlength="1" id="freeText" [(ngModel)]="searchForm.freeText" name="freeText" required>
        </md-input-container>
        </div>
        <div>
          <!--<div class="typefield">
              <md-select placeholder="Type"  id="type" [(ngModel)]="searchForm.type" name="type" fxFlex fxFlexOffset="2">
                <md-option *ngFor="let type of types" [value]="type">
                  {{ type }}
                </md-option>
            </md-select>
          </div>-->
          <md-input-container fxFlex>
            <input mdInput [mdDatepicker]="startdate" placeholder="Initial Date" id="InDate" disabled [(ngModel)]="searchForm.inDate"
                   name="inDate">
            <button mdSuffix [mdDatepickerToggle]="startdate"></button>
          </md-input-container>
          <md-datepicker #startdate></md-datepicker>
          <md-input-container fxFlex fxFlexOffset="2">
            <input mdInput [mdDatepicker]="enddate" placeholder="End Date" id="EndDate" disabled [(ngModel)]="searchForm.endDate"
                   name="endDate">
            <button mdSuffix [mdDatepickerToggle]="enddate"></button>
          </md-input-container>
          <md-datepicker #enddate></md-datepicker>
        </div>
        <div align="end">
         <button md-raised-button  type="submit" >Search</button> 
        </div>
       </md-card>
    </div>
</form>
</md-card>
<md-progress-bar  mode="indeterminate"  *ngIf="submitted"></md-progress-bar>

<div class="container-card"  fxflex>
  <h2 *ngIf="nOfResults == 0">No results found!</h2>
     <div class="sub_container-card" *ngFor="let sr of searchResult">
       
       <div *ngIf="filter(sr.type)">
        <md-card class="card">
           <div *ngIf="sr.thumbnail; else defaultimg">
                 <img md-card-image class="image-card" src="{{sr.thumbnail}}" >
          </div>
          <ng-template #defaultimg>
                <img md-card-image class="image-card" src="../assets/images/logo_producer_511x103.jpg" >
          </ng-template>
          <md-card-content class="content-card">
             <div fxLayout="row">
                <div fxLayout="column" >
                     <div [ngSwitch]="sr.type">
                        <div *ngSwitchCase="'video'"><button md-icon-button><md-icon>videocam</md-icon></button></div>
                        <div *ngSwitchCase="'image'"><button md-icon-button><md-icon>photo</md-icon></button></div>
                        <div *ngSwitchCase="'audio'"><button md-icon-button><md-icon>audiotrack</md-icon></button></div>
                        <div *ngSwitchCase="'text'"><button md-icon-button><md-icon>textsms</md-icon></button></div>
                     </div>
                        <button md-icon-button mdTooltip="Save Bookmark" mdTooltipPosition ="above" (click)="saveMC(sr)"><md-icon id="{{sr.uri}}">star_border</md-icon></button>
                        <app-dialog-detail [multimediaContent]="sr"></app-dialog-detail>
                </div>
                <div class="detail-card" fxLayout="column" >
                  <div class="title-card"><b>Title:</b>{{sr.name}}</div>
                  <div class="description"><b>Description:</b>{{sr.description}}</div>
                  <div class="item-card"><b>Source:</b>{{sr.source.name}}</div>
                  <div class="item-card"><b>Date:</b>{{getDate(sr.date)}}</div>
                </div>
            </div>
          </md-card-content>
        </md-card>
       </div>
      </div>
    </div>
  </div>
</div>
