
.image-card {
    height: 60%;
    width: auto;
    max-height: 270px;

}

.video-iframe{

    margin: 0px;
    background-color:transparent;
}

.videogular-container {
    width: 100%;
    height: 1080px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }
}

.detail-button {
    width:45px;
}

md-chip {
  max-width: 100px;
}