<md-card>
  <md-card-header>
    <md-card-title><h2>{{data.name}}</h2></md-card-title>
  </md-card-header>
<div [ngSwitch]="data.type">
  <div *ngSwitchCase="'video'">
        <div  *ngIf="data.fileExtension == 'video/mp4'; else defaultvideo">
            <div *ngIf="loaderror; else defaultimg">
                <video id="video" width="100%" height="250px" autoplay controls>
                  <source [src]="getVideoSource(data.downloadURI)" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
              <ng-template #defaultimg>
                  <img width="100%" height="250px" src="../assets/images/logo_producer_511x103.jpg" class="image-card">
              </ng-template>
        </div>
           <ng-template #defaultvideo>
                  <iframe width="100%" height="250px" [src]="getVideoSource(data.uri)"></iframe>
           </ng-template>
   </div>
  <div *ngSwitchCase="'image'">
     <div *ngIf="data.uri; else defaultimg">
        <img width="100%" height="250px" [src]="data.uri" class="image-card">
     </div>
        <ng-template #defaultimg>
              <img width="100%" height="250px" src="../assets/images/logo_producer_511x103.jpg" class="image-card">
        </ng-template>
  </div>
  <div *ngSwitchCase="'audio'">
    <audio controls>
      <source [src]="data.uri" [type]="data.fileExtension">
    Your browser does not support the audio element.
    </audio>
  </div>
  <div *ngSwitchCase="'text'">

  </div>
</div>





  <md-card-content>
<div fxLayout="column" fxLayoutAlign="space-around none" fxFlexOffset="2">
    <div><h5>{{data.description}}</h5></div>
    <div><h6>Repository:{{data.source.name}} - Date:{{getDate(data.date)}}</h6></div>
</div>
  </md-card-content>
   <md-card-actions align="end">
    <button md-button>Send to MCSSR</button>
    <button md-button  [md-dialog-close]="true">Close</button>
  </md-card-actions>
</md-card>
